<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
    <div>
      <p>Ingrese profesion<input type = "text" [(ngModel)]="profesion"></p>
      <p>Ingrese Años Experiencia<input type = "text" [(ngModel)]="anios"></p>
      <p>Dato completo: Es {{profesion}} con {{anios}} años de experiencia</p>
    </div>

</body>
</html>